* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resizer-horizontal {
  opacity: 0;
}

.resizer-horizontal:hover {
  opacity: 1;
}

.resizer-horizontal:active {
  opacity: 0.7;
}

.resizer-vertical {
  opacity: 0;
}

.resizer-vertical:hover {
  opacity: 1;
}

.resizer-vertical:active {
  opacity: 0.7;
}